* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #73879C;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

#myNavbar #navbarNav .nav-item .nav-link {
  color: #0e0f0f;
  font-size: 18px;
  font-weight: 700;
}
#myNavbar #navbarNav .nav-item:hover a {
  color: #1ABB9C;
}
#myNavbar .myCart i {
  font-size: 30px;
  margin-top: 10px;
  margin-right: 24px;
}
#myNavbar .myCart span {
  color: #757474;
  font-weight: 700;
  position: absolute;
  right: 10px;
  background-color: rgba(218, 215, 215, 0.418);
  width: 20px;
  text-align: center;
  border-radius: 50%;
}
#myNavbar .myCart .input-qty {
  text-align: center;
}
#myNavbar .myCart .modal-body img {
  width: 100%;
  height: 20px;
}
#myNavbar .myCart .modal-body .quality {
  display: flex;
}

.modal-backdrop {
  position: static;
}

#myCarousel {
  width: 50%;
  margin: auto;
}
#myCarousel .carousel-item img {
  width: 100%;
}

#myProducts .col-4:hover .card-body .hover-none {
  display: none;
}
#myProducts .col-4:hover .card-body .hover_information {
  display: block;
}
#myProducts .col-4 .card-body .hover_information {
  display: none;
}

footer {
  background-color: #002146;
  padding: 60px 0;
  color: #fff;
}
footer .footer__contain {
  margin: auto;
  width: 85%;
}
footer .footer__contain .footer__contact, footer .footer__contain .footer__featured, footer .footer__contain .footer__quick {
  float: left;
  width: 33.33%;
  margin-bottom: 20px;
  margin-top: 25px;
}
footer .footer__contain .footer__contact h3, footer .footer__contain .footer__featured h3, footer .footer__contain .footer__quick h3 {
  margin-bottom: 20px;
}
footer .footer__contain .footer__contact i {
  color: #fdc800;
  padding-right: 10px;
  font-size: 12px;
  margin-top: 15px;
}
footer .footer__contain .footer__contact span {
  line-height: 25px;
}
footer .footer__contain .footer__contact a, footer .footer__contain .footer__featured a, footer .footer__contain .footer__quick a {
  color: white;
  text-decoration: none;
}
footer .footer__contain .footer__featured ul, footer .footer__contain .footer__quick ul {
  list-style: none;
  margin-left: 40px;
}
footer .footer__contain .footer__featured h3, footer .footer__contain .footer__quick h3 {
  padding: 0 40px 0;
}
footer .footer__contain .footer__featured li, footer .footer__contain .footer__quick li {
  padding-bottom: 10px;
}
footer .footer__contain .footer__end {
  border-top: 1px solid #454545;
  padding: 20px 0;
}
footer .footer__contain .footer__end p {
  text-align: center;
}
footer .footer__contain .footer__end span {
  color: #cccccc;
}